.textarea__opiniao {
  background-color: var(--azul-celeste-escuro);

  border: none;

  border-radius: 8px;

  color: var(--esbranquicado);

  font-family: 'Roboto Mono', monospace;

  font-weight: 100;

  height: 10rem;

  padding: 0.8125rem 0 0 0.8125rem;

  resize: vertical;

  width: 47.75rem;
}

.textarea__opiniao:active {
  background: var(--azul-bem-claro);
}
