.cabecalho__funcoes {
  align-items: center;

  display: flex;

  gap: 1.5625rem;

  margin-right: 2.125rem;
}

.cabecalho__funcoes-pesquisa {
  color: #f2f0f2;

  background-color: #05124a;
  background-image: url('/gerenciador_de_livros/static/assets/img/ilustracao-pesquisar.png');
  background-position: right;
  background-repeat: no-repeat;
  border: none;
  border-radius: 8px;

  font-family: 'Roboto Mono', monospace;

  height: 2.2rem;

  padding-left: 0.875rem;
  padding-right: 1.5rem;
}

.cabecalho__funcoes-botao {
  height: 2.625rem;

  width: 2.625rem;
}

.cabecalho__funcoes-botao:hover {
  cursor: pointer;
}
