.titulo--pesquisa-importante {
  background: -webkit-linear-gradient(#6a0606, #a63434);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: 'Prata', serif;
  font-size: 30px;
  font-weight: 100;

  letter-spacing: 1.5px;

  margin-bottom: 0.875rem;
}
