:root {
  --azul-claro: #4b62c9;
  --azul-celeste-escuro: #384996;
  --azul-escuro-bg: #05124a;
  --azul-escuro-hover: #1a2f8d;
  --esbranquicado: #f2f0f2;

  --prata: 'Prata', serif;
  --roboto: 'Roboto Mono', monospace;
}

body {
  background-color: var(--azul-escuro-bg);
}
