.cabecalho__logo {
  align-items: center;

  display: flex;

  margin-left: 2.125rem;
}

.cabecalho__logo-titulo {
  color: #f2f0f2;

  font-family: 'Prata', serif;
  font-size: 24px;
  font-weight: 100;

  letter-spacing: 1px;

  margin-left: 0.4375rem;
}
