.rodape {
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(56, 73, 150, 1) 0%,
    rgba(63, 110, 180, 1) 91%
  );

  display: flex;

  color: var(--esbranquicado);

  flex-direction: row;

  font-family: var(--roboto);

  height: 5.625rem;

  justify-content: space-between;
}
