.conteudo-livro {
  align-items: center;

  background-color: var(--azul-celeste-escuro);

  display: flex;

  height: 18.75rem;

  margin-left: 2.4375rem;
  margin-top: 1.5625rem;

  justify-content: center;

  width: 23.1875rem;
}
