.conteudo-livro__caixa-titulo {
  color: var(--esbranquicado);

  font-family: 'Roboto Mono', monospace;
  font-size: 18px;

  text-align: center;
}

.conteudo-livro__caixa-titulo:hover {
  cursor: pointer;

  color: var(--azul-bem-claro);
}
