.conteudo-livro {
  align-items: center;

  background-color: var(--azul-celeste-escuro);

  display: flex;

  height: 18.75rem;

  margin-left: 2.4375rem;
  margin-top: 1.5625rem;

  justify-content: center;

  width: 23.1875rem;
}

.conteudo-livro:hover {
  background: linear-gradient(
    90deg,
    rgba(56, 73, 150, 1) 0%,
    rgba(63, 110, 180, 1) 91%
  );

  padding: 0.5rem;
}
