{% extends 'base.html' %}
{% load static %}
{% block link %}

<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario-adicionar/textarea__opiniao.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario-adicionar/situacao-caixa.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario-adicionar/seletor__situacao.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario-adicionar/opiniao.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario-adicionar/label__informacao-livro.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario-adicionar/label__informacao-leitor.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario-adicionar/input__informacao-livro.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario-adicionar/input__informacao-livro--foto.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario-adicionar/input__informacao-livro--estrelas.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario-adicionar/informacoes-do-livro.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario-adicionar/informacoes-do-leitor.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario-adicionar/foto-caixa.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario-adicionar/formulario__adicionar.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario-adicionar/form.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario-adicionar/estrelas-caixa.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario-adicionar/botao__formulario.css'%}"
/>
{% endblock %} {% block body %}
<body>
  <main class="principal">
    <section class="bloco-titulo">
      <h1 class="titulo">Adicione seu livro:</h1>
      <div class="titulo__sublinhado"></div>
    </section>

    <section class="formulario__adicionar">
      <form action="" method="post">
        <fieldset class="informacoes-do-livro">
          <label for="nome_livro" class="label__informacao-livro"
            >Nome do Livro:
          </label>
          <input
            type="text"
            name="nome_livro"
            id="nome_livro"
            class="input__informacao-livro"
            placeholder="Ex.: Python Fluente"
            required
          />

          <label for="editora_livro" class="label__informacao-livro"
            >Editora:
          </label>
          <input
            type="text"
            name="editora_livro"
            class="input__informacao-livro"
            placeholder="Ex.: Novatec"
            required
          />

          <label for="autor_livro" class="label__informacao-livro"
            >Autor:
          </label>
          <input
            type="text"
            name="autor_livro"
            id="autor_livro"
            class="input__informacao-livro"
            placeholder="Ex.: Luciano Ramalho"
            required
          />

          <label for="genero_livro" class="label__informacao-livro"
            >Gênero:
          </label>
          <input
            type="text"
            name="genero_livro"
            id="genero_livro"
            class="input__informacao-livro"
            placeholder="Ex.: Tecnologia"
            required
          />
        </fieldset>

        <fieldset class="informacoes-do-leitor">
          <div class="situacao-caixa">
            <label for="situacao" class="label__informacao-leitor"
              >Situação:
            </label>
            <select
              name="situacao"
              id="situacao"
              class="seletor__situacao"
              required
            >
              <option selected disabled value="">Escolha</option>
              <option value="Lido" class="opcao__situacao">Lido</option>
              <option value="Não lido" class="opcao__situacao">Não lido</option>
              <option value="Lendo" class="opcao__situacao">Lendo</option>
            </select>
          </div>

          <div class="estrelas-caixa">
            <label for="estrelas" class="label__informacao-leitor"
              >Estrelas:
            </label>
            <input
              type="number"
              name="estrelas"
              id="estrelas"
              class="input__informacao-livro--estrelas"
              placeholder="Ex.: 5"
            />
          </div>

          <div class="foto-caixa">
            <label for="foto_livro" class="label__informacao-leitor"
              >Foto de capa:</label
            >
            <input
              type="file"
              name="foto_livro"
              id="foto_livro"
              class="input__informacao-livro--foto"
            />
          </div>
        </fieldset>

        <fieldset class="opiniao">
          <label for="opiniao" class="label__informacao-leitor"
            >Opinião:
          </label>
          <textarea
            name="opiniao"
            id="opiniao"
            class="textarea__opiniao"
            placeholder="Ex.: Excelente livro para aprender boas práticas em Python."
          ></textarea>
        </fieldset>
        <button type="submit" class="botao__formulario">Adicionar Livro</button>
      </form>
    </section>
  </main>
</body>
{% endblock %}
