{% load static %}
<!DOCTYPE html>
<html lang="pt-br" xmlns="">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="icon"
      href="{% static '/assets/img/logo-livro-pequeno.png' %}"
      type="image/png"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static '/assets/css/normalize.css'%}" />
    <link rel="stylesheet" href="{% static '/assets/css/reset.css'%}" />
    <link rel="stylesheet" href="{% static '/assets/css/base.css' %}" />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/cabecalho/cabecalho.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/cabecalho/cabecalho__logo.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/cabecalho/cabecalho__logo--titulo.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/cabecalho/cabecalho__logo--link.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/cabecalho/cabecalho__funcoes.css'%}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/cabecalho/cabecalho__funcoes-pesquisa.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/cabecalho/cabecalho__funcoes-link.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/titulo/bloco-titulo.css'%}"
    />
    <link rel="stylesheet" href="{% static '/assets/css/titulo/titulo.css'%}" />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/titulo/titulo__sublinhado.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/principal/bloco-livros.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/principal/conteudo-livro.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/principal/conteudo-livro__caixa-imagem.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/principal/conteudo-livro__caixa-linha.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/principal/conteudo-livro__caixa-titulo.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/principal/conteudo-livro__caixa.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/principal/conteudo-livro__caixa-link.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/rodape/rodape.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/rodape/rodape__desenvolvedores-identificacao--link.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/rodape/rodape__desenvolvedores-identificacao.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/rodape/rodape__desenvolvedores-titulo.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/rodape/rodape__desenvolvedores.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/rodape/rodape__github.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/link-topo/principal__link.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/link-topo/principal__link-topo.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/link-adiciona/rodape__adiciona.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/link-adiciona/rodape__adiciona--link.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/link-adiciona/rodape__adiciona--imagem.css'%}"
    />
    {% block link %} {% endblock %}
    <title>Gerenciador de Livros</title>
  </head>
  {% block body %} {% endblock %}
</html>
