{% extends 'base.html' %}
{% load static %}
{% block body %}
  <body>

    {% include 'partials/_header.html' %}

    <main class="principal">
      <section class="bloco-titulo">
        <h1 class="titulo">Mantenha os seus livros catalogados aqui!</h1>
        <div class="titulo__sublinhado"></div>
      </section>

      <section class="bloco-livros">
        {% if livros %}
            {% for livro in livros %}
        <section class="conteudo-livro">
          <div class="conteudo-livro__caixa">
            <img
              src="{% static '/assets/img/ilustracao-livros.png' %}"
              alt="Imagem de capa do Livro"
              class="conteudo-livro__caixa-imagem"
              width="220"
            />
            <div class="conteudo-livro__caixa-linha"></div>
            <div class="conteudo-livro__caixa-titulo">
              {{livro.nome_do_livro}}
            </div>
          </div>
        </section>
            {% endfor %}
      </section>
        {% else %}
            <p>Livro não encontrado :(</p>
        {% endif %}
    </main>

    {% include 'partials/_footer.html' %}
  </body>
  <script src="{% static '/assets/js/script.js'%}">
    defer
  </script>
{% endblock %}