{% extends 'base.html' %}
{% load static %}
{% block link %}
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/situacao-caixa.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/seletor__situacao.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/label__informacao-livro.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/label__informacao-leitor.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/input__informacao-livro.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/input__informacao-livro--foto.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/input__informacao-livro--estrelas.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/informacoes-do-livro.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/informacoes-do-leitor.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/foto-caixa.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/formulario__adicionar.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/form.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/estrelas-caixa.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/botao__formulario.css'%}"
/>
{% endblock %}
