{% extends 'base.html' %} {% load static %} {% block link %}
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/situacao-caixa.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/seletor__situacao.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/label__informacao-livro.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/label__informacao-leitor.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/input__informacao-livro.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/input__informacao-livro--foto.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/input__informacao-livro--estrelas.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/informacoes-do-livro.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/informacoes-do-leitor.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/foto-caixa.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/formulario.css'%}"
/>
<link rel="stylesheet" href="{% static '/assets/css/formulario/form.css'%}" />
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/estrelas-caixa.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/formulario/botao__formulario.css'%}"
/>
<link
  rel="stylesheet"
  href="/gerenciador_de_livros/static/assets/css/formulario/caixa-botao.css"
/>
<link
  rel="stylesheet"
  href="/gerenciador_de_livros/static/assets/css/formulario/foto-caixa.css"
/>
<link
  rel="stylesheet"
  href="/gerenciador_de_livros/static/assets/css/formulario/opiniao__editar.css"
/>
<link
  rel="stylesheet"
  href="/gerenciador_de_livros/static/assets/css/formulario/opiniao__foto-do-livro.css"
/>
<link
  rel="stylesheet"
  href="/gerenciador_de_livros/static/assets/css/formulario/opiniao__imagem-do-livro.css"
/>
<link
  rel="stylesheet"
  href="/gerenciador_de_livros/static/assets/css/formulario/opiniao__textarea.css"
/>
<link
  rel="stylesheet"
  href="/gerenciador_de_livros/static/assets/css/formulario/textarea__opiniao--editar.css"
/>
<link
  rel="stylesheet"
  href="/gerenciador_de_livros/static/assets/css/formulario/textarea__opiniao.css"
/>
{% endblock %}
<body>
  <main class="principal">
    <section class="bloco-titulo">
      <h1 class="titulo">Edite as informações do livro:</h1>
      <div class="titulo__sublinhado"></div>
    </section>

    <section class="formulario">
      <form action="" method="post" enctype="multipart/form-data">
        <fieldset class="informacoes-do-livro">
          <label for="nome_livro" class="label__informacao-livro"
            >Nome do Livro:
          </label>
          <input
            type="text"
            name="nome_livro"
            id="nome_livro"
            class="input__informacao-livro"
            placeholder="Ex.: Python Fluente"
            required
          />

          <label for="editora_livro" class="label__informacao-livro"
            >Editora:
          </label>
          <input
            type="text"
            name="editora_livro"
            class="input__informacao-livro"
            placeholder="Ex.: Novatec"
            required
          />

          <label for="autor_livro" class="label__informacao-livro"
            >Autor:
          </label>
          <input
            type="text"
            name="autor_livro"
            id="autor_livro"
            class="input__informacao-livro"
            placeholder="Ex.: Luciano Ramalho"
            required
          />

          <label for="genero_livro" class="label__informacao-livro"
            >Gênero:
          </label>
          <input
            type="text"
            name="genero_livro"
            id="genero_livro"
            class="input__informacao-livro"
            placeholder="Ex.: Tecnologia"
            required
          />
        </fieldset>

        <fieldset class="informacoes-do-leitor">
          <div class="situacao-caixa">
            <label for="situacao" class="label__informacao-leitor"
              >Situação:
            </label>
            <select
              name="situacao"
              id="situacao"
              class="seletor__situacao"
              required
            >
              <option selected disabled value="">Escolha</option>
              <option value="Lido" class="opcao__situacao">Lido</option>
              <option value="Não lido" class="opcao__situacao">Não lido</option>
              <option value="Lendo" class="opcao__situacao">Lendo</option>
            </select>
          </div>

          <div class="estrelas-caixa">
            <label for="estrelas" class="label__informacao-leitor"
              >Estrelas:
            </label>
            <input
              type="number"
              name="estrelas"
              id="estrelas"
              class="input__informacao-livro--estrelas"
              placeholder="Ex.: 5"
            />
          </div>

          <div class="foto-caixa">
            <label for="foto_livro" class="label__informacao-leitor"
              >Foto de capa:</label
            >
            <input
              type="file"
              name="foto_livro"
              id="foto_livro"
              class="input__informacao-livro--foto"
            />
          </div>
        </fieldset>

        <fieldset class="opiniao__editar">
          <div class="opiniao__foto-do-livro">
            <label for="" class="label__informacao-leitor"
              >Foto de capa atual:</label
            >
            <div class="opiniao__imagem-do-livro">
              <img
                src="/gerenciador_de_livros/static/assets/img/ilustracao-livros.png"
                alt=""
                class="imagem-do-livro"
                width="150px"
                height="180px"
              />
            </div>
          </div>
          <div class="opiniao__textarea">
            <label for="opiniao" class="label__informacao-leitor"
              >Opinião:
            </label>
            <textarea
              name="opiniao"
              id="opiniao"
              class="textarea__opiniao--editar"
              placeholder="Ex.: Excelente livro para aprender boas práticas em Python."
            ></textarea>
          </div>
        </fieldset>
        <div class="caixa-botao">
          <button type="submit" class="botao__formulario">Atualizar</button>
        </div>
      </form>
    </section>
  </main>
</body>
