{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="/gerenciador_de_livros/static/assets/css/normalize.css"
    />
    <link
      rel="stylesheet"
      href="/gerenciador_de_livros/static/assets/css/reset.css"
    />
    <title>Gerenciador de Livros</title>
  </head>
  <body>
    <header class="cabecalho">
      <div class="cabecalho__logo">
        <img
          src="{% static '/assets/img/logo-livro.png' %}"
          alt="Logotipo do site Gerenciador de Livros"
          class="cabecalho__logo-imagem"
        />
        <h2 class="cabecalho__logo-titulo">Gerenciador de Livros</h2>
      </div>
    </header>
  </body>
</html>
