{% extends 'base.html' %}
{% load static %}
{% block link %}
    <link
      rel="stylesheet"
      href="{% static '/assets/css/primeiro-acesso/principal__primeiro-acesso.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/primeiro-acesso/principal__primeiro-acesso--titulo.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/primeiro-acesso/principal__primeiro-acesso--link.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/css/primeiro-acesso/principal__primeiro-acesso--imagem.css'%}"
    />
{% endblock %}
{% block body %}
  <body>

    {% include 'partials/_header.html' %}

    <main class="principal">
      <section class="bloco-titulo">
        <h1 class="titulo">Mantenha os seus livros catalogados aqui!</h1>
        <div class="titulo__sublinhado"></div>
      </section>

      <section class="bloco-livros">
        {% if livros %}
            {% for livro in livros %}
        <section class="conteudo-livro">
          <div class="conteudo-livro__caixa">
            <img
              src="{% static '/assets/img/ilustracao-livros.png' %}"
              alt="Imagem de capa do Livro"
              class="conteudo-livro__caixa-imagem"
              width="220"
            />
            <div class="conteudo-livro__caixa-linha"></div>
            <div class="conteudo-livro__caixa-titulo">
              {{livro.nome_do_livro}}
            </div>
          </div>
        </section>
            {% endfor %}
      </section>
        {% else %}
      <section class="principal__primeiro-acesso">
        <div class="principal__primeiro-acesso--imagem">
          <img
            class="primeiro-acesso__imagem"
            src="{%  static '/assets/img/icone-livro-adicionar.png' %}"
            alt="Ícone de adicionar o primeiro livro"
          />
        </div>
        <h5 class="principal__primeiro-acesso--titulo">
          Você ainda não catalogou nenhum livro!<br />
        </h5>
        <a
          class="principal__primeiro-acesso--link"
          href="{% url 'admin:index' %}"
          title="Adicione seu primeiro livro"
          >Adicione seu primeiro livro</a
        >
      </section>
        {% endif %}
    </main>

    <footer class="rodape">
      <div class="principal__link" id="link-scroll">
        <a
          class="principal__link-topo"
          href="{% url 'index' %}"
          title="Voltar ao topo"
          >&#9651;</a
        >
      </div>
      <div class="rodape__desenvolvedores">
        <h3 class="rodape__desenvolvedores-titulo">Desenvolvedores:</h3>
        <div class="rodape__desenvolvedores-identificacao">
          <a
            href="https://www.linkedin.com/in/victor-gabriel-marques-4a327a208/"
            class="rodape__desenvolvedores-identificacao--link"
            target="__blank"
          >
            <img
              src="{% static '/assets/img/imagem-victor.png' %}"
              alt="Imagem de Perfil de Victor Gabriel Marques"
              class="rodape__desenvolvedores-identificacao--imagem"
            />
            <p class="rodape__desenvolvedores-identificacao--Victor">
              Victor G. Marques
            </p>
          </a>
        </div>
        <div class="rodape__desenvolvedores-identificacao">
          <a
            href="https://www.linkedin.com/in/raphaela-guiland-ferraz-32a980214/"
            target="__blank"
            class="rodape__desenvolvedores-identificacao--link"
          >
            <img
              src="{% static '/assets/img/imagem-rapha.png' %}"
              alt="Imagem de Perfil de Raphaela Guiland Ferraz"
              class="rodape__desenvolvedores-identificacao--imagem"
            />
            <p class="rodape__desenvolvedores-identificacao--Rapha">
              Raphaela G. Ferraz
            </p>
          </a>
        </div>
      </div>
      <div class="rodape__github">
        <a
          href="https://github.com/VictorGM01/book_manager"
          target="__blank"
          class="rodape__github-link"
          ><img
            src="{% static '/assets/img/icone-github.png' %}"
            alt="ícone do github"
            class="rodape__github-imagem"
        /></a>
      </div>
    </footer>
  </body>
  <script src="{% static '/assets/js/script.js'%}">
    defer
  </script>
{% endblock %}