{% extends 'base.html' %}
{% load static %}
{% block link %}
<link
  rel="stylesheet"
  href="{% static '/assets/css/informacoes/detalhes__lista__item.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/informacoes/informacoes.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/informacoes/informacoes__detalhes.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/informacoes/informacoes__detalhes__lista.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/informacoes/informacoes__imagem-livro.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/informacoes/informacoes__imagem.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/informacoes/informacoes__link--editar-livro.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/informacoes/informacoes__link.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/informacoes/informacoes__titulo.css'%}"
/>
<link rel="stylesheet" href="{% static '/assets/css/opcoes/opcoes.css'%}" />
<link
  rel="stylesheet"
  href="{% static '/assets/css/opcoes/opcoes__linha.css'%}"
/>
<link
  rel="stylesheet"
  href="{% static '/assets/css/opcoes/opcoes__titulo.css'%}"
/>
{% endblock %} {% block body %}
<body>
  {% include 'partials/_header.html' %}

  <main class="principal">
    <section class="informacoes">
      <div class="informacoes__link">
        <a type="button" href="#" class="informacoes__link--editar-livro">
          Editar livro
        </a>
      </div>
      <h2 class="informacoes__titulo">{{ livro.nome_do_livro }}</h2>
      <div class="informacoes__linha"></div>
      <div class="informacoes__detalhes">
        <ul class="informacoes__detalhes__lista">
          <li class="detalhes__lista__item">
            Autor: <span class="lista__item">{{ livro.autor }}</span>
          </li>
          <li class="detalhes__lista__item">
            Editora:
            <span class="lista__item">{{ livro.editora_do_livro }}</span>
          </li>
          <li class="detalhes__lista__item">
            Situação: <span class="lista__item">{{ livro.situacao }}</span>
          </li>
          <li class="detalhes__lista__item">
            Gênero: <span class="lista__item">{{ livro.generos }}</span>
          </li>
          {% if livro.situacao_id == 2 or livro.situacao_id == 3%}
          <li class="detalhes__lista__item">
            <a type="button" href="{% url 'marcar_como_lido' livro.id %}" class="informacoes__link--editar-livro">
              Marcar como lido
            </a>
          </li>
          {% else %}
          {% endif %}

        </ul>

        <div class="informacoes__imagem">
          {% if livro.foto_do_livro == '' %}
          <div class="informacoes__imagem-livro">
            <img
              src="{% static 'assets/img/capa_padrao.jpg' %}"
              alt=""
              width="400"
              height="400"
            />
          </div>
          {% else %}
          <div class="informacoes__imagem-livro">
            <img
              src="{{ livro.foto_do_livro.url }}"
              alt="{{ livro.nome_do_livro }}"
              width="400"
              height="400"
            />
          </div>
          {% endif %}
          <div class="informacoes__imagem-estrela">
            {% if livro.estrelas == 1 %}
            <img
              src="{% static '/assets/img/icone-estrela.png'%}"
              alt="Ícone de estrela para avaliar o livro"
            />
            {% elif livro.estrelas == 2 %}
            <img
              src="{% static '/assets/img/icone-estrela.png'%}"
              alt="Ícone de estrela para avaliar o livro"
            />
            <img
              src="{% static '/assets/img/icone-estrela.png'%}"
              alt="Ícone de estrela para avaliar o livro"
            />
            {% elif livro.estrelas == 3 %}
            <img
              src="{% static '/assets/img/icone-estrela.png'%}"
              alt="Ícone de estrela para avaliar o livro"
            />
            <img
              src="{% static '/assets/img/icone-estrela.png'%}"
              alt="Ícone de estrela para avaliar o livro"
            />
            <img
              src="{% static '/assets/img/icone-estrela.png'%}"
              alt="Ícone de estrela para avaliar o livro"
            />
            {% elif livro.estrelas == 4 %}
            <img
              src="{% static '/assets/img/icone-estrela.png'%}"
              alt="Ícone de estrela para avaliar o livro"
            />
            <img
              src="{% static '/assets/img/icone-estrela.png'%}"
              alt="Ícone de estrela para avaliar o livro"
            />
            <img
              src="{% static '/assets/img/icone-estrela.png'%}"
              alt="Ícone de estrela para avaliar o livro"
            />
            <img
              src="{% static '/assets/img/icone-estrela.png'%}"
              alt="Ícone de estrela para avaliar o livro"
            />
            {% elif livro.estrelas == 5 %}
            <img
              src="{% static '/assets/img/icone-estrela.png'%}"
              alt="Ícone de estrela para avaliar o livro"
            />
            <img
              src="{% static '/assets/img/icone-estrela.png'%}"
              alt="Ícone de estrela para avaliar o livro"
            />
            <img
              src="{% static '/assets/img/icone-estrela.png'%}"
              alt="Ícone de estrela para avaliar o livro"
            />
            <img
              src="{% static '/assets/img/icone-estrela.png'%}"
              alt="Ícone de estrela para avaliar o livro"
            />
            <img
              src="{% static '/assets/img/icone-estrela.png'%}"
              alt="Ícone de estrela para avaliar o livro"
            />
            {% endif %}
          </div>
        </div>
      </div>

      <section class="opcoes">
        <div class="opcoes__linha"></div>
        <h4 class="opcoes__titulo">Você pode gostar de:</h4>
      </section>
    </section>
    <section class="bloco-livros">
      {% for livro in sugestoes %}
          {% include 'partials/_bloco_livro.html' %}
      {% endfor %}
    </section>
  </main>

  {% include 'partials/_footer.html' %}
</body>
<script src="{% static '/assets/js/script.js'%}">
  defer
</script>
{% endblock %}
