.cabecalho__funcoes-link {
  width: 2.6rem;
  padding: 0.15rem;
  transition: 0.42s;
}

.cabecalho__funcoes-link:hover {
  cursor: pointer;
  background-color: var(--azul-escuro-hover);
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
